header {
  background-color: #02b2cc;
  height: 60px;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  font-size: 30px;
  color: antiquewhite;
}
