.add-medication-form {
  width: 37%;
  background-color: #6cc9dc;
  list-style-type: none;
  border-radius: 10px;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  color: whitesmoke;
  margin-right: 20px;
  padding: 14px;
  font-weight: 600;
}

.form-row > label {
  display: flex;
  flex: 1;
}

.form-row > input {
  padding: 0.3em;
  height: 25px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 10px;
}

.form-btn {
  background: #32ca58;
  border-radius: 10px;
  border-width: 0;
  color: antiquewhite;
  width: 150px;
  height: 50px;
  font-size: 20px;
}
